nav {
    font-family: serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Alegreya', serif;
    color: #d50000;
}

body {
    font-family: 'Source Sans Pro',sans-serif;
}

.centerThis {
                margin-left: auto !important; 
                margin-right: auto !important;
                width: 100% !important;
            }